<p id="notice"><%= notice %></p>

<% title = '笔记列表' %>
<% content_for :title do %>
  <% title %>
<% end %>

<h1><%= title %></h1>

<%= link_to '新建笔记', new_admin_note_path %>

<table>
  <thead>
  <tr>
    <th>标题</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, [:admin, note] %></td>
      <td><%= link_to '编辑', edit_admin_note_path(note) %></td>
    </tr>
  <% end %>
  </tbody>
</table>